# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
.env/
.env.*
.venv.bak/

# Django stuff:
db.sqlite3
*.sqlite3
*.log
post_media/

# VSCode/IDE
.vscode/
.idea/
*.swp

# Node modules y build de React
frontend/node_modules/
frontend/build/

# Archivos del sistema / grandes
.DS_Store
Thumbs.db
*.pdf
*.bak
*.tmp
*.orig

# Archivos temporales
*.tmp
*.bak

# Otros archivos que puedan contener secretos o configuración
README.old.md
*.env

# Otros
FRM_*.pdf
TESINA*.pdf
